.desktop-navbar {}

.card-title {
    font-size: 120%;
    font-weight: 500;
}

.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: block;
}

.display-name-item>button {
    float: right;
}

.product-name {
    margin-left: 20px;
}

.quantity-box {
    margin-left: 20px;
    margin-right: 20px;
}

.price-item {
    text-align: right;
}

.voucher {}

.btn-expand {
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-right {
    float: right;
    font-weight: 400;
    padding: .25rem .75rem;
    border-radius: .25rem;
}

.btn {
    padding: 0;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Ghi chú cho đơn hàng";
    color: gray;
}