:root{
    --red-color: #E40B06;
    --gray-color: #2c3a57;
}
@keyframes fadeIn {
    from {
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
*{
    font-family: 'Source Sans Pro', sans-serif;
}