.menu__cart,
.btn__close{
    margin-top: -200px;
}
.container-menu{
    margin-top: 150px;
    margin-bottom: 300px;
}
.menu{
    background-color: #f8f8f8;
}
.menu__nav{
    border: 5px solid #f8f8f8;
    border-radius: 5px;
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
.menu__nav-item{
    margin-right: 10px;
    border: 5px solid #f8f8f8;
    border-radius: 5px;
}
.menu__nav-item h6{
    font-weight: bolder;
    color: #E40B06;
}
.menu__nav-item a:focus h6{
    font-weight: bolder;
    color: black;
}
.menu__nav-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__nav-item img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 2px solid #f8f8f8;;
}
.menu__content{
    margin: 20px 20px;
}
.menu__content .row{
    margin: 20px 0;
}
.menu__content-item{
    max-height: 400px;
}
.menu__content-item:hover{
    opacity: 0.7;
}
.menu__content-item img{
    width: 180px;
   height: 180px; 
   margin: auto;
   border-radius: 5px;
   border: 10px solid #f8f8f8;;
}
.menu__content-item .card-title{
    font-weight: bold;
    font-size: 20px;
}
.menu__content-item .card-body{
    padding: 0;
    padding-bottom: 10px;
}
.menu__content-item-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--red-color);
}
.menu__content-item-buy h6{
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}
.menu__content-item-buy a{
    background-color: #E40B06;
    padding: 5px 20px;
    border-radius: 40px;
}
/* Cart */
.cart{
    border: 2px solid #f8f8f8; 
}
.cart__title{
    font-size: 20px;
    color: var(--red-color);
    background-color: #fff;
    padding: 20px;
    font-weight: bold;
}
.cart__content{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;     
}
.cart__top{
    border: 2px solid #f8f8f8;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 70vh;
}
.cart__item{
    display: flex;
    border: 2px solid #f8f8f8;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.cart__item:hover{
    opacity: 0.7;
}
.cart__item-img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin: 10px;
}
.cart__item-quality{
    display: flex;
    flex-direction: column;
}
.cart__item-quality-title{
    font-weight: bolder;
    font-size: 17px;
}
.cart__item-quality-count{
    display: flex;
    justify-content: space-between;
}
.cart__item-quality-number{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
    width: 30px;
    text-align: center;
}
.btn-add{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #E40B06;
    color: #E40B06;
    background-color: white;
    font-weight: bolder;
    text-align: center;
    font-weight: 20px;
}
.btn-add:hover{
    background-color: #E40B06;
    color: white;
}
.btn-minus{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-weight: bolder;
    text-align: center;
    font-weight: 20px;
}
.btn-minus:hover{
    background-color: black;
    color: white;
}
.cart__item-cost{
    color: var(--red-color);
    font-weight: 500;
    margin-right: 10px;
    width: 65px;
    font-weight: bolder;
}
.cart__total{
    display: flex;
    justify-content: space-between;
}
.cart__total span{
    color: black;
}
.cart__total h4{
    margin-left: 20px;
    font-weight: bolder;
}
.cart__total-cost{
    font-size: 25px;
    font-weight: bolder;
    color: #E40B06;
    margin-right: 30px;
}
.cart__payment{
    width: 100%;
}
.cart__payment .btn{
    background-color: #E40B06;
}
.cart__bottom{
    margin-bottom: 30px;
}
/* Modal Cart */
.modal-food{
    font-family: 'Roboto Condensed', sans-serif;
}
.modal-title{
    font-weight: bold;
}
.modal-img{
    border-radius: 10px;
    border: 2px solid #f8f8f8;
}
